.box {
    background-color: rgb(168, 167, 167);
    width: auto;
    height: auto;
    margin: 25px;
    float: left
    /* margin-top: 30px;
    margin-left: 25px; */
}

.boxtxt{
    background-color: #FFB12D;
    /* width: 125px;
    height: 50px; */
    /*position: absolute; */
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 25px;
}

.boxtxt h1 {
    
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 5px;



}

.prg{
    /* background-color: #aca79f;
    width: 500px;
    height: 400px;
    position: absolute; */
    margin-left: 25px;
    margin-top: 100px;

}

.prgdsg {
    text-align: center;
    text-decoration: none;

}

.creators {
    background-color: rgb(168, 167, 167);
    width: 325px;
    height: 200px;
    position: absolute;
    margin-left: 900px;

}

.dot {
    height: 25px;
  width: 25px;
  background-color: rgb(61, 61, 61);
  border-radius: 50%;
  display: inline-block;
  /* margin: auto; */
  margin-top: 11px;
  margin-left: 7px;
  /* position: absolute; */
}

.creators h1 {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 5px;
    background-color: #FFB12D;
    width: 155px;
    height: 40px;
    margin-left: 50px; 
    border-radius: 25px;
}


.contact {
    background-color: rgb(168, 167, 167);
    width: 325px;
    height: 200px;
    position: absolute;
    margin-left: 900px;
    margin-top: 300px;
}

.contact h1 {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 5px;
    background-color: #FFB12D;
    width: 155px;
    height: 40px;
    margin-left: 50px;
    border-radius: 25px;
}