.header {
  text-align: center;
  color: black;
  font: 2em sans-serif;
  font-weight: 700
}

.text {
  text-align: center;
  color: black;
  font: 1em sans-serif;
  margin-left: 120px;
  margin-right: 120px;

}

.border {
  border: 3px solid #000000;
}