.conatiner{
    position: relative;
    margin: 0%;
    padding: 0%;
}

.aboutbox {
    background-color: rgb(168, 167, 167);
    width: 625px;
    height: 525px;
    margin-top: 35px;
    margin-left: 25px;
    padding: 7px;
    position: absolute;
}

.aboutbox h1 {

    width: 20%;
    height: 15%;
    background-color: #ff9d00;
    display: block;
    text-align: center;
}

.aboutbox p {

    text-align: center;
}

.creatorsbox {

    background-color: rgb(168, 167, 167);
    width: 325px;
    height: 200px;
    margin-top: 35px;
    margin-left: 900px;
    position: absolute;
    padding: 7px;
    

}
.creatorsbox h1 {

    width: 25%;
    height: 25%;    
    background-color: #ff9d00;
    display: block;
    text-align: center;
}



.contactsbox {
    background-color: rgb(168, 167, 167);
    width: 325px;
    height: 200px;
    position: absolute;
    margin-left: 900px;
    margin-top: 300px;
    padding: 7px;
}

.contactsbox h1 {
    width: 25%;
    height: 25%;
    background-color: #ff9d00;
    display: block;
    text-align: center;
}

@media screen and (max-width: 500px){

    .aboutbox {
        background-color: rgb(168, 167, 167);
        width: 625px;
        height: 100px;
        margin-top: 35px;
        margin-left: 25px;
        padding: 7px;
        position: absolute;
    }
    
}

