.conatiner{
    position: relative;
    margin: 0%;
    padding: 0%;
}
.aboutbox {
    background-color: rgb(168, 167, 167);
    width: 45%;
    height: 65%;
    margin-top: 35px;
    margin-left: 25px;
    padding: 7px;
    position: absolute;
}
.aboutbox h1 {

    width: 20%;
    height: 10%;
    background-color: #ff9d00;
    display: block;
    text-align: center;
}
.aboutbox p {

    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.creatorsbox {

    background-color: rgb(168, 167, 167);
    width: 20%;
    height: 25%;
    margin-top: 35px;
    margin-left: 60%;
    position: absolute;
    padding: 7px;
}
.creatorsbox h1 {

    width: 30%;
    height: 15%;    
    background-color: #ff9d00;
    display: block;
    text-align: center;
    font-size: 24px;
}
.contactsbox {
    background-color: rgb(168, 167, 167);
    width: 20%;
    height: 25%;
    position: absolute;
    margin-left: 60%;
    margin-top: 20%;
    padding: 7px;
}
.contactsbox h1 {
    width: 30%;
    height: 15%;
    background-color: #ff9d00;
    display: block;
    text-align: center;
    font-size: 24px;
}