/* 
gray-color: CFCFCF
orange-color: FFB12D  
green-color: 7ED957
*/


.header {
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CFCFCF;
    padding: 0 3%;
    font-family:  Courier, monospace;
  }

  .header img {
    height: 110px;
    width: 180px;
  }
  
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }
