*{
  list-style: none;
  text-decoration: none;
}

.header{
  background-color: aquamarine;
  float: right;
  display: block;
  padding: 5px;
  width: 100%;
}

.menu{
  background-color: blue;
  float: right;
  align-items: center;

}

